@{
    ViewBag.Title = "Administration panel";
    Layout = "_Layout";
}

<div class="page-header">
    <h1>Administration panel</h1>
</div>

<div class="container">
    <ul class="nav navbar-nav nav-stacked">
        <li><a asp-area="" asp-controller="Tour" asp-action="Add">Add tour</a></li>
        <li><a asp-area="" asp-controller="Reservation" asp-action="ListAll">List all reservations</a></li>
        <li><a asp-area="" asp-controller="Tour" asp-action="ListAll">List all tours</a></li>
    </ul>
</div>