@{
    ViewBag.Title = "Administration panel";
    Layout = "_Layout";
}

<h2>Administration panel</h2>

<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Tour" asp-action="Add">Add tour</a></li>
    <li><a asp-area="" asp-controller="Reservation" asp-action="List">List all reservations</a></li>
    <li><a asp-area="" asp-controller="Tour" asp-action="ListAll">List all tours</a></li>
</ul>